[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
djangorestframework = "*"
django-filter = "*"
pytest = "*"
dj-config-url = "*"
djoser = "*"
celery = "*"
locust = "*"
django-debug-toolbar = "*"
whitenoise = "*"
django-cors-headers = "*"
django-silk = "*"
pymysql = "*"
django-rest-framework-nested = "*"
drf-yasg = "*"
drf-nested-routers = "*"
django-redis = "*"
pillow = "*"
gunicorn = "*"

[dev-packages]

[requires]
python_version = "3.10"
